<ul class="nav text-center">
	<li>
		<a href="#/menu/personal/id" ng-click="edit( employee )">Personal Info</a>
	</li>
	<li>
		<a href="#/menu/basic_contact" ng-click="edit( employee )">Basic Contact Info</a>
	</li>
	<li>
		<a href="#/menu/emergency_contact" ng-click="edit( employee )">Emergency Contact Info</a>
	</li>
	<li>
		<a href="#/menu/education" ng-click="edit( employee )">Education</a>
	</li>
	<li>
		<a href="#/menu/exam" ng-click="edit( employee )">Licensure and Examinations</a>
	</li>
	<li>
		<a href="#/menu/awards" ng-click="edit( employee )">Awards and Achievements</a>
	</li>
	<li>
		<a href="#/menu/work" ng-click="edit( employee )">Work Experience</a>
	</li>
	<li>
		<a href="#/menu/skills" ng-click="edit( employee )">Skills</a>
	</li>
	<li>
		<a href="#/menu/organization" ng-click="edit( employee )">Organizations</a>
	</li>
	<li>
		<a href="#/menu/training" ng-click="edit( employee )">Trainings and Seminars</a>
	</li>
	<li>
		<a href="#/menu/medical" ng-click="edit( employee )">Medical History</a>
	</li>
	<li>
		<a href="#/menu/service" ng-click="edit( employee )">Service</a>
	</li>
</ul>