<div class="container-fluid col-lg-12">
	<h3>List of Employees
		<ul class="nav navbar-right">
			<li class="btn btn-info" role="button" href="#/main/search/personal">Add Employee</li>
		</ul>
	</h3><br />
	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-search"></i>
				</div>
				<input type="text" class="form-control" placeholder="Search Employee's Name" ng-model="search" />
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th>Name</th>
						<th>Date of Birth</th>
						<th>Place of Birth</th>
						<th>Gender</th>
						<th>Civil Status</th>
						<th><i class="fa fa-cog"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate= "worker in employee|itemsPerPage:pages">
						<td> {{ worker.fName + " " + worker.lName }} </td>
						<td> {{ worker.dateBirth }} </td>
						<td> {{ worker.placeBirth }} </td>
						<td> {{ worker.gender}} </td>
						<td> {{ worker.civilStatus }} </td>
						<td align="center">
							<a class="btn btn-default" ng-click="openDialog()">
								<i class="fa fa-pencil"></i>
							</a>
							<a class="btn btn-default">
								<i class="fa fa-eye"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<dir-pagination-controls
			max-size="5"
			direction-links="true"
			boundary-links="true" >
		</dir-pagination-controls>
	</form>
</div>